root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bash,zsh,*rc,*profile}]
indent_size = 8
indent_style = tab

[*.yaml]
indent_size = 2
